# ${project.name}

[![Maven Central](https://maven-badges.herokuapp.com/maven-central/it.serendigity.maven.plugins/lifecycle-helper-maven-plugin/badge.svg?style=flat)](https://maven-badges.herokuapp.com/maven-central/it.serendigity.maven.plugins/lifecycle-helper-maven-plugin) [![License](https://img.shields.io/badge/License-Apache%202.0-blue.svg)](https://opensource.org/licenses/Apache-2.0)

[![Build status](https://github.com/serendipity-projects/lifecycle-helper-maven-plugin/actions/workflows/main.yml/badge.svg?branch=master)](https://github.com/serendipity-projects/lifecycle-helper-maven-plugin/actions/workflows/main.yml)
[![Quality Gate Status](https://sonarcloud.io/api/project_badges/measure?project=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin&metric=alert_status)](https://sonarcloud.io/dashboard?id=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin)
[![codecov](https://codecov.io/gh/serendipity-projects/lifecycle-helper-maven-plugin/branch/master/graph/badge.svg)](https://codecov.io/gh/serendipity-projects/lifecycle-helper-maven-plugin)

[![Maintainability Status](https://sonarcloud.io/api/project_badges/measure?project=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin&metric=sqale_rating)](https://sonarcloud.io/component_measures?id=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin&metric=sqale_rating)
[![Reliability Status](https://sonarcloud.io/api/project_badges/measure?project=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin&metric=reliability_rating)](https://sonarcloud.io/component_measures?id=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin&metric=reliability_rating)
[![Coverage ](https://sonarcloud.io/api/project_badges/measure?project=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin&metric=coverage)](https://sonarcloud.io/component_measures?id=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin&metric=coverage)
[![Vulnerability](https://sonarcloud.io/api/project_badges/measure?project=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin&metric=vulnerabilities)](https://sonarcloud.io/component_measures?id=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin&metric=vulnerabilities)
[![Lines of code](https://sonarcloud.io/api/project_badges/measure?project=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin&metric=ncloc)](https://sonarcloud.io/component_measures?id=it.serendigity.maven.plugins%3Alifecycle-helper-maven-plugin&metric=ncloc)


[![Twitter Follow](https://img.shields.io/twitter/follow/SerendigityInfo.svg?style=social)](https://twitter.com/SerendigityInfo)