# ${project.name}

${project.description}

# Requirements
For a complete list of requirements view [System requirements section](https://serendipity-projects.github.io/lifecycle-helper-maven-plugin/plugin-info.html#System%20requirements)

# Quick start

In your maven project execute the following command:

```
mvn it.serendigity.maven.plugins:lifecycle-helper-maven-plugin:execution-plan
```
Below is an example of a project execution plan with packaging *jar* and no plugins configured (grouped by *lifecycle*)
![Example](images/example_1.jpg)

# Examples

To provide you with better understanding on some usages of this plugin, you can take a look at the [usage](usage.html) examples.